openapi: 3.0.1
info:
  title: Wikipedia REST API
  description: API for accessing Wikipedia content, suitable for grounding entities, places, and concepts.
  version: 1.0.0

servers:
  - url: https://en.wikipedia.org/api/rest_v1
    description: Main English Wikipedia REST v1 server

paths:

  /page/summary/{title}:
    get:
      summary: Get page summary
      description: Returns a summary of a Wikipedia page, including extract and metadata.
      parameters:
        - name: title
          in: path
          required: true
          description: The title of the Wikipedia page (use underscores for spaces).
          schema:
            type: string
      responses:
        '200':
          description: A JSON summary of the page.
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                  extract:
                    type: string
                  description:
                    type: string
        '404':
          description: Page not found.

  /page/related/{title}:
    get:
      summary: Get related pages
      description: Returns pages related to the given title.
      parameters:
        - name: title
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A list of related pages.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pages:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        extract:
                          type: string

  /search/title:
    get:
      summary: Search for pages by title
      description: Searches Wikipedia pages for a given string.
      parameters:
        - name: q
          in: query
          required: true
          description: The search query (e.g., a place, character, or concept).
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Search results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pages:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        excerpt:
                          type: string
