
name: GitHub CR Build and Push

on:
  push:
    branches: [ main ]
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

concurrency:
  group: ${{ github.ref }}Docker
  cancel-in-progress: true

jobs:
  buildPush:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: read
      packages: write
      id-token: write

    strategy:
      matrix:
        service:
          - name: FinancialADK
            context: samples/GCP/FinanceADK/
            image: adkfinance

          - name: ProcessEngineering
            context: samples/GCP/ProcessEngineering/
            image: adkprocesseng

          - name: EmailProcessing
            context: samples/GCP/EmailProcessing/
            image: adkemailprocesseng

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (${{ matrix.service.name }})
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.actor }}/${{ matrix.service.image }}

      - name: Build and Push (${{ matrix.service.name }})
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.service.context }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
