name: Build and Test Docker Images

on:
  push:
    branches:
    paths:
      - "samples/**"
  pull_request:
    paths:
      - "samples/**"
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}CiTest
  cancel-in-progress: true

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Build the ADK Docker image for email
        run: |
          cd samples/GCP/EmailProcessing
          docker build . --file Dockerfile --tag adktemplate:latest
          docker run --rm -it -d -p 8080:8080 adktemplate:latest
          #docker scout cves adktemplate:latest
          sleep 10
          curl localhost:8080/status
    
      - name: Build the sample ADK Docker image for fintech
        run: |
          cd samples/GCP/FinanceProcessing
          docker build . -t adksample && \
            docker run --rm -v "$(pwd)/sample.txt":/app/sample.txt adksample -f sample.txt

      - name: Build the ADK Docker image for fintech
        run: |
          cd samples/GCP/FinanceADK
          docker build . -t adkfinance && \
            docker run --rm adkfinance

#      - name: Run Trivy vulnerability scanner
#        uses: aquasecurity/trivy-action@master
#        with:
#          image-ref: 'adktemplate:latest'
#          format: 'table'
#          exit-code: '1'
#          ignore-unfixed: true
#          vuln-type: 'os,library'
#          severity: 'CRITICAL,HIGH'
          
      - name: Stop containers...
        run: (docker stop $(docker container ls -q))
